<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af6cff">  <td>19/07/12 18:31:17</td>   <td>0</td> <td title="&gt;&gt;SafaricomReport.beforeSuite()[pri:0, instance:com.safaricom.dp.report.SafaricomReport@2415fc55]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1178587240</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/07/12 18:31:17</td>   <td>541</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport.beforeClass()[pri:0, instance:com.safaricom.dp.report.SafaricomReport@2415fc55]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1178587240</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/07/12 18:31:17</td>   <td>565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.dp.report.SafaricomReport@2415fc55]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1178587240</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/07/12 18:31:17</td>   <td>572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport.sample()[pri:0, instance:com.safaricom.dp.report.SafaricomReport@2415fc55]">sample</td> 
  <td>main@1178587240</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/07/12 18:33:54</td>   <td>157196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.dp.report.SafaricomReport@2415fc55]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1178587240</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/07/12 18:33:54</td>   <td>157228</td> <td title="&lt;&lt;SafaricomReport.endReport()[pri:0, instance:com.safaricom.dp.report.SafaricomReport@2415fc55]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1178587240</td>   <td></td> </tr>
</table>
